assets/*
src/*.md
src/go/app/assets/preferences/*
src/go/app/assets/tmp/*
src/go/app/view/cache
src/go/app/core/vendor
src/go/app/core/libs/PHPMailer/examples
src/go/app/core/libs/PHPMailer/docs
src/go/app/core/libs/PHPMailer/test
src/go/app/core/libs/phpqrcode/cache
*cache*
src/api/Temp/*
src/api-schools/Temp/*
src/api/Empresas/*
src/api-schools/Empresas/*
src/admin/app/view/cache

.envs3
migrations/dist/*
.env
node_modules
package-lock.json